@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <title>Page Title</title>
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    
</body>
</html>


