<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT paginaInicial ANY>
<!ATTLIST paginaInicial id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT umbracoUrlAliasProperties ANY>
<!ATTLIST umbracoUrlAliasProperties id ID #REQUIRED>
]>
<root id="-1">
  <content id="1068" key="be9d13aa-ea44-4710-b522-79fd9064f44b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-29T13:31:57" updateDate="2018-05-29T13:52:30" nodeName="Content" urlName="content" path="-1,1068" isDoc="" nodeType="1063" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1070" nodeTypeAlias="content" isPublished="true">
    <umbracoUrlAlias><![CDATA[c]]></umbracoUrlAlias>
    <home id="1069" key="0966f2ad-26ef-4da9-9c50-7bbde79c9207" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2018-05-29T13:32:42" updateDate="2018-05-29T14:51:39" nodeName="Home" urlName="home" path="-1,1068,1069" isDoc="" nodeType="1067" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1071" nodeTypeAlias="home" isPublished="true">
      <umbracoUrlAlias><![CDATA[bob]]></umbracoUrlAlias>
      <title><![CDATA[Um teste]]></title>
      <subtitle><![CDATA[Um teste muito teste testado]]></subtitle>
      <pagesImageMain><![CDATA[umb://media/d19a86683d0b45b2a54fb631abc55342]]></pagesImageMain>
      <titleImage><![CDATA[Alto Contraste]]></titleImage>
    </home>
    <paginaInicial id="1074" key="ec504a16-9443-4853-a753-cbe9cf34b628" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2018-05-29T14:03:28" updateDate="2018-05-29T14:04:41" nodeName="Pagina Inicial" urlName="pagina-inicial" path="-1,1068,1074" isDoc="" nodeType="1073" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1071" nodeTypeAlias="paginaInicial" isPublished="true">
      <umbracoUrlAlias><![CDATA[pagina-inicial]]></umbracoUrlAlias>
    </paginaInicial>
  </content>
</root>